/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerImage{
  width: 60%;
}
.bgGradient{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background:linear-gradient(90deg,rgba(255, 203, 231, 0.4),rgba(199, 199, 237, 0.4));
  z-index:-1;
}

html[data-theme='dark'] .bgGradient{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background:none;
    z-index:-1;
}