name: 'Test coverage'
on:
  workflow_dispatch:

jobs:
  test_env_setup_job:
    runs-on: ubuntu-latest
    name: Test coverage
    steps:                               
      - name: Checkout [master]
        uses: actions/checkout@v4

      - name: Checkout [react-charting]
        uses: actions/checkout@v4
        with: 
          repository: "microsoft/fluentui"
          path: repo1
        
      - name: Install packages
        run: yarn --cwd ./tools/UnitTestApp && yarn --cwd ./repo1 && yarn --cwd ./repo1/packages/react-charting
      
      - name: Build
        run:  yarn --cwd ./repo1 buildto @fluentui/react-charting

      - name: Test Environment Setup
        run: cp -r ./tools/UnitTestApp/UnitTests ./repo1/packages/react-charting/src/components/
             
      - name: Test
        run: cd ./repo1/packages/react-charting && yarn add fs-extra && yarn update-snapshots && yarn test --coverage --verbose
